html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: cadetblue;
  height: 60px;
  width: 100%;
  /* position: fixed; */
}

header:hover {
  background-color: #c0c1c3;
}

header ul {
  text-align: right;
  display: inline-flex;
  margin-right: 3%;
  float: right;
}

header ul li a {
  margin-left: 12px;
  text-decoration: none;
  color: rgb(2, 60, 75);
  padding: 0px 0px 0px 2px;
  font-weight: bold;
  text-shadow: rgb(175 156 226) 0.1em 0.1em 0.2em;
}

header li {
  margin: 9;
  list-style: none;
  color: blue;
}

#divForm {
  text-align: center;
  max-width: 350px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: table;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: lightblue;
  border-radius: 10%;
  width: 40%;
  border: solid burlywood;
}

form {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

form input{
    border-radius: 5px;
    text-align: center;
}

form input[type="submit"]{
    width: 30%;
    margin-top: 10;
    background-color: rgb(110, 206, 238);
    height: 40px;
    font-size: large;
    border: solid aliceblue;
    border-radius: 20%;
    cursor: pointer;
}

form input[type="submit"]:hover{
    background-color: springgreen;
}

h3{
    margin-bottom: 0;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 60px;
  background-color: #000000;
  box-shadow: 0 0 10px rgb(250 250 250);
  text-align: center;
  margin: 0 auto;
  color: cadetblue;
}

footer:hover{
    color: white;
    background-color: #3d3c3c;
}
